

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ffffff;
}






#box1{
    height: 100px;
    width: 10%;
    float: left;

}
#box2{
    height: 100px;
    width: 90%;
    float: right;
}
.block2{
    height: 500px;
    width: 100%;
    float: left;
    
}
.block3{
    height: 400px;
    width: 100%;
    float: left;
    
}






.image1{
    height: 100px;
    width: 100PX;   
}
.image2{
    height:500px;
    width: 100%;
}








